<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="recommend">
<!-- 검색지역 추가 -->
	<insert id ="reco_insert" parameterType="recommendVO">
		insert into recommend values(#{userid},#{dest},now())
	</insert>
	
	<!-- 행 개수 확인 -->
	<select id="reco_record" parameterType="recommendVO" resultType="String">
	select count(*) from recommend where userid = #{userid}
	</select>
	
	<!-- 검색 지역 삭제 -->
	<delete id="reco_delete" parameterType="recommendVO">
		delete from recommend where userid = #{userid} order by date asc limit 1
	</delete>
	
	<!-- 검색 지역 확인 -->
	<select id ="reco_dest" parameterType="String" resultType="String">
	select dest from recommend where userid = #{userid} group by dest order by count(dest) desc limit 1
	</select>
	
	
</mapper>